.btn {
  margin-top: 15px;
  width: 100%;
  color:$color-white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $color-link;
    &:hover {
      background-color:hov-light($color-link);
    }
}

.error {
  background-color:$color-pink;
  &:hover {
    background-color:hov-light($color-pink);
  }
}

.info {
  background-color: $color-purple;
  &:hover {
    background-color:hov-light($color-purple);
  }
}

.success {
  background-color: $color-green-light;
  &:hover {
    background-color:hov-light($color-green-light);
  }
}

.warning {
  background-color: $color-red;
  &:hover {
    background-color:hov-light($color-red);
  }
}